<div class="container">
  <div class="cont">
    <h2>Front-end</h2>
    <div class="logo">
      HTML/CSS <img src="../../assets/html.png" /><img
        src="../../assets/css.png"
      />
    </div>
    <div class="logo">
      JS/TS <img src="../../assets/js.png" /><img src="../../assets/ts.png" />
    </div>
    <div class="logo">Angular <img src="../../assets/angular.png" /></div>
    <div class="logo">
      Bootstrap <img src="../../assets/Bootstrap_logo.svg.png" />
    </div>
  </div>
  <div class="cont">
    <h2>Technologies</h2>
    <div class="logo">Git <img src="../../assets/git.png" /></div>
    <div class="logo">GitHub <img src="../../assets/GitHub-Mark.png" /></div>
    <div class="logo">Linux <img src="../../assets/linux.png  " /></div>
    <div class="logo">
      Firebase
      <img src="../../assets/firebase.jpeg" alt="" />
    </div>
  </div>
</div>
