.container {
  height: 800px;
  width: 800px;
  background-color: #2e3031;
  margin: 400;
  padding: 40px;
}

p.text {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  top: 40px;
  color: rgb(253, 246, 233);
  margin-left: 130px;
}
.media {
  height: 300px;
  width: 300px;
  background-color: #eff9f0;
  position: center;
  opacity: 90%;
  border-radius: 10%;
}
a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 50px;
}
.media a {
  height: 80px;

  display: flex;
  align-items: center;
}
img {
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 130px;
  margin-top: 15px;
  display: inline-block;
  padding: 0.45rem 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  font-family: "Lato";
  color: white;
  text-align: center;
  font-weight: 300;
  background-color: #ff4000;

  margin-bottom: 10px;
}
