<div class="container">
  <div class="media">
    <a href="https://github.com/KlajdiMucollari"
      >Github<i class="fa fa-twitter">
        <img src="../../assets/GitHub-Mark.png" width="20%" /></i
    ></a>
    <a href="https://www.linkedin.com/in/klajdi-mucollari-b91b80260/"
      >Linkedin<i class="fa fa-linkedin">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeOyT2R9_wX6332sg3aT6EkssBCBIf3RRdDvYClUSy&s"
          width="25%"
        /> </i
    ></a>
    <a href="https://www.facebook.com/"
      >Facebook<i class="fa fa-facebook">
        <img
          src="
          https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBGmDPEWnYkJ55GRkTly5BrKLM2SlUYO8Na4qih2wI&s"
          width="25%" /></i
    ></a>
  </div>

  Email: klajdi262009@live.com
  <a href="mailto:klajdi262009@live.com" type="button" class="btn btn-primary"
    >Contact Me</a
  >

  <p class="text">
    I'm available at these social medias, <br />feel free to contact me
  </p>
</div>
