<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <div *ngIf="showValue">
    <div *ngFor="let item of testarr">{{ item?.name }} - {{ item?.value }}</div>
  </div> -->
  <a class="navbar-brand" href="#">Profile</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="About" href="#">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Projects" href="#">My Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Contact" href="#">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
