body {
  background-image: url(https://w0.peakpx.com/wallpaper/890/960/HD-wallpaper-purple-neon-lights-black-background-purple-neon-light-neon-background.jpg);
}

* {
  color: rgb(252, 213, 255);
  opacity: 100%;
}
